.header{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    margin-bottom: 20px;

}

.header_title {
    margin-left: 20px;
    font-size: 35px;

}

.ecommerce {
    text-decoration-line: none;
    color: var(--bg-color-red);
}

.content {
    text-decoration: none;
}

.header_nav {
    align-content: center;
    border: 2px solid rgb(230, 230, 230);
    margin-right: 10px;

}

.header_list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.header_item {
    margin-top: 10px;
}

.header_link {
    text-decoration-line: none;
}